<?xml version = "1.0" encoding = "UTF-8"?>

<Configuration packages="com.github.nesz.fancybot">
    <Appenders>
        <RollingFile name="rolling" fileName = "logs/latest.log" filePattern = "logs/%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>[%d{HH:mm:ss}] [%-6p]: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" modulate = "true" />
                <SizeBasedTriggeringPolicy size = "10MB" />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-6p] [%c{1}]: %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="rolling" />
            <Log4JFilter />
        </Root>
    </Loggers>
</Configuration>